*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}
.container{
    width: 400px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,78,135,1) 35%, rgba(233,123,242,1) 96%);
    border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;;
   
}
#date{
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.container .time-container{
    width: 50%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
   
}
.container .time-container span{
    color: white;
   
}
.container .time-container .hour{
    background: rgb(253, 253, 253);
    color: rgb(32, 9, 58);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

   
}
.container .time-container .sec{
    background: rgb(253, 253, 253);
    color: rgb(32, 9, 58);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

   
}
.container .time-container .mint{
    background: rgb(253, 253, 253);
    color: rgb(32, 9, 58);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

   
}